container_commands:
  01_cache:
    command: php app/console cache:clear --env=$SYMFONY_ENV --no-debug --no-warmup
  02-cache:
    command: chmod -R 0777 app/cache
  03-logs:
    command: chmod -R 0777 app/logs
  04-cache:
    command: chown -R webapp:webapp app/cache
  05-logs:
    command: chown -R webapp:webapp app/logs
  06-tmp:
    command: mkdir web/temp
  07-tmp:
    command: chown -R webapp:webapp web/temp
